* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.container {    
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    background-color: white;
}

.topNav {
    background-color: rgb(168, 86, 209);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 1em;
    flex: 0.5;
}

/* Buttons */

.submitButton,
#formSubmitButton {
    color: white;
    background-color: green;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    margin-top: 1em;
}

#addBookButton {
    margin-right: 2em;
    margin-bottom: 1em;
}

.formButton {
    min-width: 60px;
    width: calc(50%);
    max-width: 90px;
}

.removeButton, 
.editButton {
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    margin-top: 1em;
    font-size: smaller;
    width: 6em;

}
.removeButton {
    background-color: red;
    margin-bottom: 1em;
}

.editButton {
    background-color: orange;
}

label {
    text-align: right;
    display: inline-block;
    margin-top: 0.5em;
}

input, select {
    box-sizing: border-box;
    width: calc(100%);
    margin-top: 0.5em;
  }



.bookShelf {
    border-color: 1px solid black;
    background-color: lightblue;
    margin-right: 1em;
    margin-left: 1em;
    flex: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   

.bookShelfHeader {
    display: flex;
    flex-direction: row;
    flex: 0.75;
    position: sticky;
    margin-top: 1em;
    margin-bottom: -2em;
    width: 90%;
    justify-content: space-between;
}

.bookObjectTitle {
    color: white;
    font-weight: 700;
    font-size: larger;
    align-items: center;
    justify-content: center;
}

.bookObjectElement,
.bookObjectElementIndex {
    display: flex;
    color: limegreen;
    font-size: larger;
    font-weight: 600;
    font-size: larger;
    align-items: center;
    justify-content: center;
}

.bookObjectElementIndex {
    margin-left: -2em;
    margin-right: 3em;
}

.bookObjectElement#title {
    margin-left: -3em;
    margin-right: 3em;
}

.bookObjectElement#author {
    margin-left: -3em;
    margin-right: 2em;
}

.bookShelfContainer {
    display: flex;
    flex-direction: column;
    width: 95%;
    flex: 1;
    border: 5px solid white;
    background-color: black;
    margin: 1em;
}

.bookObject {
    display: flex;
    margin: 1em;
    justify-content: space-around;
    border: 4px dotted limegreen;
    min-height: 100px;
}


#modal-form {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  #modal-form form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
  }

  .formTop {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 0.5em;
    margin-top: -0.5em;
  }

  .formButtonDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5em;
  }

  .bookObjectContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }